body {
    background-image: url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cb694d3428d849afd8518e09a930119&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    color: white;
    font-size: 20px;
    background-repeat: no-repeat;
}
li {
    font-family: 'Neuton', serif;
}
p {
    font-family:'Cinzel', serif;
}
.jumbotron {
    margin-top: 20px;
    text-align: left;
    background-color: transparent;
    font-size: 24px;
} 

h1{
    font-size: 80px;
    font-family: Playfair Display SC, serif;
}

body#page2 {
    background-image: url("https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cb694d3428d849afd8518e09a930119&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    text-align: center;
}
.img-thumbnail {
    margin-bottom: 14px;
}


.footer {
    margin-top: 141px;
    text-align: center;
}
.navbar-nav {
    margin-right: auto;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
}

.form-control {
    width: 50%;
}

.far-fa-id-card {
padding: 2px;
}
::before {
    margin-right: 10px;
}

.navbar {
    margin-bottom: 58px;
}
.container-form {
    margin-left: 30%;
    margin-top: 64px;
}
.far {
    color: darkgray;
}
.fa-github:before {
   color: white;
}
.fa-facebook:before {
color: white;
}
.fa-linkedin:before {
    color: white;
}
.card-text{
    color: black;
    font-weight: bold;
}
h5{
    color: black;
    font-weight: bolder;
}
.card-body{
    background-color: grey;
}